@using BookStore.Models
@model List<Giohang>
@{
    ViewBag.Title = "Giohang";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h2 style="text-align:center">THÔNG TIN GIỎ HÀNG</h2>
<table align="center" border="1" cellpadding="0" cellspacing="0">
    <tr style="text-align:center; font-weight:bold">
        <td>Mã sách</td>
        <td>Tên sách</td>
        <td>Ảnh bìa</td>
        <td>Số lượng</td>
        <td>Đơn giá</td>
        <td>Thành tiền</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="text-align:center; font-weight:bold">
            <td>@item.iMasach</td>
            <td>@item.sTenSach</td>
            <td><img src="~/wwwroot/images/@item.sAnhbia" /></td>
            <td>@item.iSoluong</td>
            <td>@string.Format("0:0:0", item.dDongia)</td>
            <td>@string.Format("0:0:0", item.dThanhtien)</td>
        </tr>
    }
    <tr style="text-align: center; font-weight: bold; color:red;">
        <td colspan="3">Số lượng sách: @ViewBag.Tongsoluong</td>
        <td colspan="3">Số lượng sách: @String.Format("{0:0:0}", ViewBag.Tongtien) VNĐ</td>
    </tr>
</table>
